{% extends 'base.html.twig' %}


{% block javascripts %}

    <script src="http://localhost/api4/web/bundle.js?tesop" type="text/javascript"></script>

{% endblock %}
{% block body %}

    <div id="root">
home
    </div>

{% endblock %}



